<div class='well'>
  <div class='form-group'>
    <input class='form-control' ng-model='salesPerson.name' placeholder='sales person name' />
  </div>
  <button ng-disabled='!salesPerson.name' class='btn btn-primary' ng-click='create()'>Create Sales Person</button>
</div>
<ul class='list-group'>
  <li ng-repeat='salesPerson in salesPeople' class='list-group-item'>
    {{ salesPerson.name }}
    <button ng-click='destroy(salesPerson)' class='btn btn-danger pull-right'>Delete</button>
    <br clear='all' />
  </li>
</ul>
